In [8]:
import pandas as pd

df = pd.read_excel("Chelonia mydas.xlsx")
df.head()

,gbifID,datasetKey,occurrenceID,kingdom,phylum,class,order,family,genus,species,...,identifiedBy,dateIdentified,license,rightsHolder,recordedBy,typeStatus,establishmentMeans,lastInterpreted,mediaType,issue
0,2420774711,0645ccdb-e001-4ab0-9729-51f1755e007e,54339409-773f-4c99-ab91-2d25143f20e8,Animalia,Chordata,Testudines,NaN,Cheloniidae,Chelonia,Chelonia mydas,...,NaN,NaN,CC_BY_4_0,NSW Dept of Planning and Environment,ODMP09121001,NaN,NaN,2025-11-20 18:59:28.345,NaN,CONTINENT_DERIVED_FROM_COORDINATES;SCIENTIFIC_...
1,1071548918,0645ccdb-e001-4ab0-9729-51f1755e007e,aa971b90-2df1-411f-ab19-5db323a78c04,Animalia,Chordata,Testudines,NaN,Cheloniidae,Chelonia,Chelonia mydas,...,NaN,NaN,CC_BY_4_0,NSW National Parks and Wildlife Service,OJJS07071700,NaN,NaN,2025-11-20 19:03:48.664,NaN,CONTINENT_DERIVED_FROM_COORDINATES;SCIENTIFIC_...
2,4018001596,0645ccdb-e001-4ab0-9729-51f1755e007e,f26b78ad-ee1a-4348-a75c-9ee1408c55a8,Animalia,Chordata,Testudines,NaN,Cheloniidae,Chelonia,Chelonia mydas,...,NaN,NaN,CC_BY_4_0,NSW Dept of Planning and Environment,OPJGI0003292,NaN,NaN,2025-11-20 19:04:08.893,NaN,CONTINENT_DERIVED_FROM_COORDINATES;SCIENTIFIC_...
3,2420901915,0645ccdb-e001-4ab0-9729-51f1755e007e,24638c2b-ebb7-431f-b4cb-38f532393600,Animalia,Chordata,Testudines,NaN,Cheloniidae,Chelonia,Chelonia mydas,...,NaN,NaN,CC_BY_4_0,NSW Dept of Planning and Environment,WIRES-HO,NaN,NaN,2025-11-20 18:59:13.957,NaN,CONTINENT_DERIVED_FROM_COORDINATES;SCIENTIFIC_...
4,4895210706,0645ccdb-e001-4ab0-9729-51f1755e007e,97fff4e1-f2b0-4746-b4bb-81239983ef0e,Animalia,Chordata,Testudines,NaN,Cheloniidae,Chelonia,Chelonia mydas,...,NaN,NaN,CC_BY_4_0,NSW Dept of Planning and Environment,OPJGI0003539,NaN,NaN,2025-11-20 19:03:43.021,NaN,CONTINENT_DERIVED_FROM_COORDINATES;SCIENTIFIC_...

In [2]:
df = df.dropna(subset=["decimalLatitude", "decimalLongitude"])
df.head()

,gbifID,datasetKey,occurrenceID,kingdom,phylum,class,order,family,genus,species,...,identifiedBy,dateIdentified,license,rightsHolder,recordedBy,typeStatus,establishmentMeans,lastInterpreted,mediaType,issue
0,2420774711,0645ccdb-e001-4ab0-9729-51f1755e007e,54339409-773f-4c99-ab91-2d25143f20e8,Animalia,Chordata,Testudines,NaN,Cheloniidae,Chelonia,Chelonia mydas,...,NaN,NaN,CC_BY_4_0,NSW Dept of Planning and Environment,ODMP09121001,NaN,NaN,2025-11-20 18:59:28.345,NaN,CONTINENT_DERIVED_FROM_COORDINATES;SCIENTIFIC_...
1,1071548918,0645ccdb-e001-4ab0-9729-51f1755e007e,aa971b90-2df1-411f-ab19-5db323a78c04,Animalia,Chordata,Testudines,NaN,Cheloniidae,Chelonia,Chelonia mydas,...,NaN,NaN,CC_BY_4_0,NSW National Parks and Wildlife Service,OJJS07071700,NaN,NaN,2025-11-20 19:03:48.664,NaN,CONTINENT_DERIVED_FROM_COORDINATES;SCIENTIFIC_...
2,4018001596,0645ccdb-e001-4ab0-9729-51f1755e007e,f26b78ad-ee1a-4348-a75c-9ee1408c55a8,Animalia,Chordata,Testudines,NaN,Cheloniidae,Chelonia,Chelonia mydas,...,NaN,NaN,CC_BY_4_0,NSW Dept of Planning and Environment,OPJGI0003292,NaN,NaN,2025-11-20 19:04:08.893,NaN,CONTINENT_DERIVED_FROM_COORDINATES;SCIENTIFIC_...
3,2420901915,0645ccdb-e001-4ab0-9729-51f1755e007e,24638c2b-ebb7-431f-b4cb-38f532393600,Animalia,Chordata,Testudines,NaN,Cheloniidae,Chelonia,Chelonia mydas,...,NaN,NaN,CC_BY_4_0,NSW Dept of Planning and Environment,WIRES-HO,NaN,NaN,2025-11-20 18:59:13.957,NaN,CONTINENT_DERIVED_FROM_COORDINATES;SCIENTIFIC_...
4,4895210706,0645ccdb-e001-4ab0-9729-51f1755e007e,97fff4e1-f2b0-4746-b4bb-81239983ef0e,Animalia,Chordata,Testudines,NaN,Cheloniidae,Chelonia,Chelonia mydas,...,NaN,NaN,CC_BY_4_0,NSW Dept of Planning and Environment,OPJGI0003539,NaN,NaN,2025-11-20 19:03:43.021,NaN,CONTINENT_DERIVED_FROM_COORDINATES;SCIENTIFIC_...

In [3]:
df = df[(df["decimalLatitude"] != 0) & (df["decimalLongitude"] != 0)]
df.head()

,gbifID,datasetKey,occurrenceID,kingdom,phylum,class,order,family,genus,species,...,identifiedBy,dateIdentified,license,rightsHolder,recordedBy,typeStatus,establishmentMeans,lastInterpreted,mediaType,issue
0,2420774711,0645ccdb-e001-4ab0-9729-51f1755e007e,54339409-773f-4c99-ab91-2d25143f20e8,Animalia,Chordata,Testudines,NaN,Cheloniidae,Chelonia,Chelonia mydas,...,NaN,NaN,CC_BY_4_0,NSW Dept of Planning and Environment,ODMP09121001,NaN,NaN,2025-11-20 18:59:28.345,NaN,CONTINENT_DERIVED_FROM_COORDINATES;SCIENTIFIC_...
1,1071548918,0645ccdb-e001-4ab0-9729-51f1755e007e,aa971b90-2df1-411f-ab19-5db323a78c04,Animalia,Chordata,Testudines,NaN,Cheloniidae,Chelonia,Chelonia mydas,...,NaN,NaN,CC_BY_4_0,NSW National Parks and Wildlife Service,OJJS07071700,NaN,NaN,2025-11-20 19:03:48.664,NaN,CONTINENT_DERIVED_FROM_COORDINATES;SCIENTIFIC_...
2,4018001596,0645ccdb-e001-4ab0-9729-51f1755e007e,f26b78ad-ee1a-4348-a75c-9ee1408c55a8,Animalia,Chordata,Testudines,NaN,Cheloniidae,Chelonia,Chelonia mydas,...,NaN,NaN,CC_BY_4_0,NSW Dept of Planning and Environment,OPJGI0003292,NaN,NaN,2025-11-20 19:04:08.893,NaN,CONTINENT_DERIVED_FROM_COORDINATES;SCIENTIFIC_...
3,2420901915,0645ccdb-e001-4ab0-9729-51f1755e007e,24638c2b-ebb7-431f-b4cb-38f532393600,Animalia,Chordata,Testudines,NaN,Cheloniidae,Chelonia,Chelonia mydas,...,NaN,NaN,CC_BY_4_0,NSW Dept of Planning and Environment,WIRES-HO,NaN,NaN,2025-11-20 18:59:13.957,NaN,CONTINENT_DERIVED_FROM_COORDINATES;SCIENTIFIC_...
4,4895210706,0645ccdb-e001-4ab0-9729-51f1755e007e,97fff4e1-f2b0-4746-b4bb-81239983ef0e,Animalia,Chordata,Testudines,NaN,Cheloniidae,Chelonia,Chelonia mydas,...,NaN,NaN,CC_BY_4_0,NSW Dept of Planning and Environment,OPJGI0003539,NaN,NaN,2025-11-20 19:03:43.021,NaN,CONTINENT_DERIVED_FROM_COORDINATES;SCIENTIFIC_...

In [4]:
df = df.drop_duplicates(subset=["gbifID"])
df.head()

,gbifID,datasetKey,occurrenceID,kingdom,phylum,class,order,family,genus,species,...,identifiedBy,dateIdentified,license,rightsHolder,recordedBy,typeStatus,establishmentMeans,lastInterpreted,mediaType,issue
0,2420774711,0645ccdb-e001-4ab0-9729-51f1755e007e,54339409-773f-4c99-ab91-2d25143f20e8,Animalia,Chordata,Testudines,NaN,Cheloniidae,Chelonia,Chelonia mydas,...,NaN,NaN,CC_BY_4_0,NSW Dept of Planning and Environment,ODMP09121001,NaN,NaN,2025-11-20 18:59:28.345,NaN,CONTINENT_DERIVED_FROM_COORDINATES;SCIENTIFIC_...
1,1071548918,0645ccdb-e001-4ab0-9729-51f1755e007e,aa971b90-2df1-411f-ab19-5db323a78c04,Animalia,Chordata,Testudines,NaN,Cheloniidae,Chelonia,Chelonia mydas,...,NaN,NaN,CC_BY_4_0,NSW National Parks and Wildlife Service,OJJS07071700,NaN,NaN,2025-11-20 19:03:48.664,NaN,CONTINENT_DERIVED_FROM_COORDINATES;SCIENTIFIC_...
2,4018001596,0645ccdb-e001-4ab0-9729-51f1755e007e,f26b78ad-ee1a-4348-a75c-9ee1408c55a8,Animalia,Chordata,Testudines,NaN,Cheloniidae,Chelonia,Chelonia mydas,...,NaN,NaN,CC_BY_4_0,NSW Dept of Planning and Environment,OPJGI0003292,NaN,NaN,2025-11-20 19:04:08.893,NaN,CONTINENT_DERIVED_FROM_COORDINATES;SCIENTIFIC_...
3,2420901915,0645ccdb-e001-4ab0-9729-51f1755e007e,24638c2b-ebb7-431f-b4cb-38f532393600,Animalia,Chordata,Testudines,NaN,Cheloniidae,Chelonia,Chelonia mydas,...,NaN,NaN,CC_BY_4_0,NSW Dept of Planning and Environment,WIRES-HO,NaN,NaN,2025-11-20 18:59:13.957,NaN,CONTINENT_DERIVED_FROM_COORDINATES;SCIENTIFIC_...
4,4895210706,0645ccdb-e001-4ab0-9729-51f1755e007e,97fff4e1-f2b0-4746-b4bb-81239983ef0e,Animalia,Chordata,Testudines,NaN,Cheloniidae,Chelonia,Chelonia mydas,...,NaN,NaN,CC_BY_4_0,NSW Dept of Planning and Environment,OPJGI0003539,NaN,NaN,2025-11-20 19:03:43.021,NaN,CONTINENT_DERIVED_FROM_COORDINATES;SCIENTIFIC_...

In [5]:
df = df[df["occurrenceStatus"] == "PRESENT"]
df.head()

,gbifID,datasetKey,occurrenceID,kingdom,phylum,class,order,family,genus,species,...,identifiedBy,dateIdentified,license,rightsHolder,recordedBy,typeStatus,establishmentMeans,lastInterpreted,mediaType,issue
0,2420774711,0645ccdb-e001-4ab0-9729-51f1755e007e,54339409-773f-4c99-ab91-2d25143f20e8,Animalia,Chordata,Testudines,NaN,Cheloniidae,Chelonia,Chelonia mydas,...,NaN,NaN,CC_BY_4_0,NSW Dept of Planning and Environment,ODMP09121001,NaN,NaN,2025-11-20 18:59:28.345,NaN,CONTINENT_DERIVED_FROM_COORDINATES;SCIENTIFIC_...
1,1071548918,0645ccdb-e001-4ab0-9729-51f1755e007e,aa971b90-2df1-411f-ab19-5db323a78c04,Animalia,Chordata,Testudines,NaN,Cheloniidae,Chelonia,Chelonia mydas,...,NaN,NaN,CC_BY_4_0,NSW National Parks and Wildlife Service,OJJS07071700,NaN,NaN,2025-11-20 19:03:48.664,NaN,CONTINENT_DERIVED_FROM_COORDINATES;SCIENTIFIC_...
2,4018001596,0645ccdb-e001-4ab0-9729-51f1755e007e,f26b78ad-ee1a-4348-a75c-9ee1408c55a8,Animalia,Chordata,Testudines,NaN,Cheloniidae,Chelonia,Chelonia mydas,...,NaN,NaN,CC_BY_4_0,NSW Dept of Planning and Environment,OPJGI0003292,NaN,NaN,2025-11-20 19:04:08.893,NaN,CONTINENT_DERIVED_FROM_COORDINATES;SCIENTIFIC_...
3,2420901915,0645ccdb-e001-4ab0-9729-51f1755e007e,24638c2b-ebb7-431f-b4cb-38f532393600,Animalia,Chordata,Testudines,NaN,Cheloniidae,Chelonia,Chelonia mydas,...,NaN,NaN,CC_BY_4_0,NSW Dept of Planning and Environment,WIRES-HO,NaN,NaN,2025-11-20 18:59:13.957,NaN,CONTINENT_DERIVED_FROM_COORDINATES;SCIENTIFIC_...
4,4895210706,0645ccdb-e001-4ab0-9729-51f1755e007e,97fff4e1-f2b0-4746-b4bb-81239983ef0e,Animalia,Chordata,Testudines,NaN,Cheloniidae,Chelonia,Chelonia mydas,...,NaN,NaN,CC_BY_4_0,NSW Dept of Planning and Environment,OPJGI0003539,NaN,NaN,2025-11-20 19:03:43.021,NaN,CONTINENT_DERIVED_FROM_COORDINATES;SCIENTIFIC_...

In [6]:
df = df.dropna(subset=["year"])
df.head()

,gbifID,datasetKey,occurrenceID,kingdom,phylum,class,order,family,genus,species,...,identifiedBy,dateIdentified,license,rightsHolder,recordedBy,typeStatus,establishmentMeans,lastInterpreted,mediaType,issue
0,2420774711,0645ccdb-e001-4ab0-9729-51f1755e007e,54339409-773f-4c99-ab91-2d25143f20e8,Animalia,Chordata,Testudines,NaN,Cheloniidae,Chelonia,Chelonia mydas,...,NaN,NaN,CC_BY_4_0,NSW Dept of Planning and Environment,ODMP09121001,NaN,NaN,2025-11-20 18:59:28.345,NaN,CONTINENT_DERIVED_FROM_COORDINATES;SCIENTIFIC_...
1,1071548918,0645ccdb-e001-4ab0-9729-51f1755e007e,aa971b90-2df1-411f-ab19-5db323a78c04,Animalia,Chordata,Testudines,NaN,Cheloniidae,Chelonia,Chelonia mydas,...,NaN,NaN,CC_BY_4_0,NSW National Parks and Wildlife Service,OJJS07071700,NaN,NaN,2025-11-20 19:03:48.664,NaN,CONTINENT_DERIVED_FROM_COORDINATES;SCIENTIFIC_...
2,4018001596,0645ccdb-e001-4ab0-9729-51f1755e007e,f26b78ad-ee1a-4348-a75c-9ee1408c55a8,Animalia,Chordata,Testudines,NaN,Cheloniidae,Chelonia,Chelonia mydas,...,NaN,NaN,CC_BY_4_0,NSW Dept of Planning and Environment,OPJGI0003292,NaN,NaN,2025-11-20 19:04:08.893,NaN,CONTINENT_DERIVED_FROM_COORDINATES;SCIENTIFIC_...
3,2420901915,0645ccdb-e001-4ab0-9729-51f1755e007e,24638c2b-ebb7-431f-b4cb-38f532393600,Animalia,Chordata,Testudines,NaN,Cheloniidae,Chelonia,Chelonia mydas,...,NaN,NaN,CC_BY_4_0,NSW Dept of Planning and Environment,WIRES-HO,NaN,NaN,2025-11-20 18:59:13.957,NaN,CONTINENT_DERIVED_FROM_COORDINATES;SCIENTIFIC_...
4,4895210706,0645ccdb-e001-4ab0-9729-51f1755e007e,97fff4e1-f2b0-4746-b4bb-81239983ef0e,Animalia,Chordata,Testudines,NaN,Cheloniidae,Chelonia,Chelonia mydas,...,NaN,NaN,CC_BY_4_0,NSW Dept of Planning and Environment,OPJGI0003539,NaN,NaN,2025-11-20 19:03:43.021,NaN,CONTINENT_DERIVED_FROM_COORDINATES;SCIENTIFIC_...

In [7]:
df.to_csv("Chelonia_mydas_cleaned.csv", index=False)

In [10]:
import pandas as pd

df_clean = pd.read_csv("Chelonia_mydas_cleaned.csv", low_memory=False)
df_clean.head()

,gbifID,datasetKey,occurrenceID,kingdom,phylum,class,order,family,genus,species,...,identifiedBy,dateIdentified,license,rightsHolder,recordedBy,typeStatus,establishmentMeans,lastInterpreted,mediaType,issue
0,2420774711,0645ccdb-e001-4ab0-9729-51f1755e007e,54339409-773f-4c99-ab91-2d25143f20e8,Animalia,Chordata,Testudines,NaN,Cheloniidae,Chelonia,Chelonia mydas,...,NaN,NaN,CC_BY_4_0,NSW Dept of Planning and Environment,ODMP09121001,NaN,NaN,2025-11-20 18:59:28.345,NaN,CONTINENT_DERIVED_FROM_COORDINATES;SCIENTIFIC_...
1,1071548918,0645ccdb-e001-4ab0-9729-51f1755e007e,aa971b90-2df1-411f-ab19-5db323a78c04,Animalia,Chordata,Testudines,NaN,Cheloniidae,Chelonia,Chelonia mydas,...,NaN,NaN,CC_BY_4_0,NSW National Parks and Wildlife Service,OJJS07071700,NaN,NaN,2025-11-20 19:03:48.664,NaN,CONTINENT_DERIVED_FROM_COORDINATES;SCIENTIFIC_...
2,4018001596,0645ccdb-e001-4ab0-9729-51f1755e007e,f26b78ad-ee1a-4348-a75c-9ee1408c55a8,Animalia,Chordata,Testudines,NaN,Cheloniidae,Chelonia,Chelonia mydas,...,NaN,NaN,CC_BY_4_0,NSW Dept of Planning and Environment,OPJGI0003292,NaN,NaN,2025-11-20 19:04:08.893,NaN,CONTINENT_DERIVED_FROM_COORDINATES;SCIENTIFIC_...
3,2420901915,0645ccdb-e001-4ab0-9729-51f1755e007e,24638c2b-ebb7-431f-b4cb-38f532393600,Animalia,Chordata,Testudines,NaN,Cheloniidae,Chelonia,Chelonia mydas,...,NaN,NaN,CC_BY_4_0,NSW Dept of Planning and Environment,WIRES-HO,NaN,NaN,2025-11-20 18:59:13.957,NaN,CONTINENT_DERIVED_FROM_COORDINATES;SCIENTIFIC_...
4,4895210706,0645ccdb-e001-4ab0-9729-51f1755e007e,97fff4e1-f2b0-4746-b4bb-81239983ef0e,Animalia,Chordata,Testudines,NaN,Cheloniidae,Chelonia,Chelonia mydas,...,NaN,NaN,CC_BY_4_0,NSW Dept of Planning and Environment,OPJGI0003539,NaN,NaN,2025-11-20 19:03:43.021,NaN,CONTINENT_DERIVED_FROM_COORDINATES;SCIENTIFIC_...

In [11]:
df_clean.columns

Index(['gbifID', 'datasetKey', 'occurrenceID', 'kingdom', 'phylum', 'class',
       'order', 'family', 'genus', 'species', 'infraspecificEpithet',
       'taxonRank', 'scientificName', 'verbatimScientificName',
       'verbatimScientificNameAuthorship', 'countryCode', 'locality',
       'stateProvince', 'occurrenceStatus', 'individualCount',
       'publishingOrgKey', 'decimalLatitude', 'decimalLongitude',
       'coordinateUncertaintyInMeters', 'coordinatePrecision', 'elevation',
       'elevationAccuracy', 'depth', 'depthAccuracy', 'eventDate', 'day',
       'month', 'year', 'taxonKey', 'speciesKey', 'basisOfRecord',
       'institutionCode', 'collectionCode', 'catalogNumber', 'recordNumber',
       'identifiedBy', 'dateIdentified', 'license', 'rightsHolder',
       'recordedBy', 'typeStatus', 'establishmentMeans', 'lastInterpreted',
       'mediaType', 'issue'],
      dtype='object')

In [12]:
keep_cols = [
    "gbifID",
    "decimalLatitude",
    "decimalLongitude",
    "countryCode",
    "stateProvince",
    "locality",
    "year",
    "month",
    "day",
    "eventDate",
    "scientificName",
    "basisOfRecord",
    "coordinateUncertaintyInMeters",
    "issues",
    "license",
    "institutionCode"
]

# Pastikan hanya kolom yang benar-benar ada
existing_cols = [col for col in keep_cols if col in df_clean.columns]

df_tidy = df_clean[existing_cols].copy()
df_tidy.head()

,gbifID,decimalLatitude,decimalLongitude,countryCode,stateProvince,locality,year,month,day,eventDate,scientificName,basisOfRecord,coordinateUncertaintyInMeters,license,institutionCode
0,2420774711,-28.337770,153.572450,AU,New South Wales,locality withheld,2014,2.0,25.0,2014-02-25,"Chelonia mydas (Linnaeus, 1758)",HUMAN_OBSERVATION,676.0,CC_BY_4_0,"NSW Dept of Planning, Industry and Environment"
1,1071548918,-32.679442,152.043884,AU,New South Wales,locality withheld,2006,3.0,22.0,2006-03-22,"Chelonia mydas (Linnaeus, 1758)",HUMAN_OBSERVATION,5.0,CC_BY_4_0,"NSW Dept of Planning, Industry and Environment"
2,4018001596,-28.641787,153.620753,AU,New South Wales,locality withheld,2018,NaN,NaN,2018-09-01/2018-11-26,"Chelonia mydas (Linnaeus, 1758)",HUMAN_OBSERVATION,200.0,CC_BY_4_0,"NSW Dept of Planning, Industry and Environment"
3,2420901915,-37.022850,149.893270,AU,New South Wales,locality withheld,2012,11.0,22.0,2012-11-22,"Chelonia mydas (Linnaeus, 1758)",HUMAN_OBSERVATION,5216.0,CC_BY_4_0,"NSW Dept of Planning, Industry and Environment"
4,4895210706,-31.186360,152.977320,AU,New South Wales,locality withheld,2023,11.0,20.0,2023-11-20,"Chelonia mydas (Linnaeus, 1758)",HUMAN_OBSERVATION,10.0,CC_BY_4_0,"NSW Dept of Planning, Industry and Environment"

In [13]:
df_tidy.to_csv("Chelonia_mydas_for_tableau.csv", index=False)

In [14]:
df_tidy.head()

,gbifID,decimalLatitude,decimalLongitude,countryCode,stateProvince,locality,year,month,day,eventDate,scientificName,basisOfRecord,coordinateUncertaintyInMeters,license,institutionCode
0,2420774711,-28.337770,153.572450,AU,New South Wales,locality withheld,2014,2.0,25.0,2014-02-25,"Chelonia mydas (Linnaeus, 1758)",HUMAN_OBSERVATION,676.0,CC_BY_4_0,"NSW Dept of Planning, Industry and Environment"
1,1071548918,-32.679442,152.043884,AU,New South Wales,locality withheld,2006,3.0,22.0,2006-03-22,"Chelonia mydas (Linnaeus, 1758)",HUMAN_OBSERVATION,5.0,CC_BY_4_0,"NSW Dept of Planning, Industry and Environment"
2,4018001596,-28.641787,153.620753,AU,New South Wales,locality withheld,2018,NaN,NaN,2018-09-01/2018-11-26,"Chelonia mydas (Linnaeus, 1758)",HUMAN_OBSERVATION,200.0,CC_BY_4_0,"NSW Dept of Planning, Industry and Environment"
3,2420901915,-37.022850,149.893270,AU,New South Wales,locality withheld,2012,11.0,22.0,2012-11-22,"Chelonia mydas (Linnaeus, 1758)",HUMAN_OBSERVATION,5216.0,CC_BY_4_0,"NSW Dept of Planning, Industry and Environment"
4,4895210706,-31.186360,152.977320,AU,New South Wales,locality withheld,2023,11.0,20.0,2023-11-20,"Chelonia mydas (Linnaeus, 1758)",HUMAN_OBSERVATION,10.0,CC_BY_4_0,"NSW Dept of Planning, Industry and Environment"

In [15]:
import os
os.getcwd()

'C:\\Users\\Lenovo'